
html, body {
	overflow-x: hidden !important;
}

body {
	margin: 4px !important;
}

button {
	width: 100% !important;
	text-align: left !important;
	white-space: nowrap !important;
}

#showDisabledButtons {
	text-align: center !important;
	height: calc(100% + 8px) !important;
	overflow-x: visible !important;
	white-space: pre-line !important;
}

button:disabled {
	background-color: #CCC !important;
	border: solid !important;
	border-width: 1px !important;
	border-color: #777 !important;
}

#main-table {
	width: 100% !important;
	margin-right: 16px !important;
	border-spacing: 8px !important;
}

a {
	text-decoration: none !important;
	color: black !important;
}

.icon {
	vertical-align: middle !important;
	margin-right: 8px !important;
}

.icon.missing {
	margin-right: 24px !important;
}

#header {
	margin: 4px !important;
	padding-bottom: 4px !important;
}

#footer {
	margin-top: 0px !important;
	margin-left: 4px !important;
	margin-right: 4px !important;
	margin-bottom: 4px !important;
}

#status {
	margin: 2px !important;
	margin-bottom: 4px !important;
	white-space: normal !important;
}
