# Configuration
global:
    env:
        secure: "jRHlYBNNkM1fQJTLnC5K/X1FWXdTY1PqxScSCA7zYdxrUZtZDncNWTrbYiLGyCvpKuw6Nldhxw8L4vtSv4lirDjJIhHlLhqof9RYXLFPSvzjx35LpEX3f2igp3hB0s2RyQGK/HTSv/iaa75Q9zM1ybr1Rk/7YUkqnrw1MeeyxqsvfQcrE1JZcZ9D6G17Q4LzNHy2sWQLe36PG7PaR20M/+NrVxBBVCPc/iuoMj7yBXKFn2eFw8dxuU+Nu3JMEfM18wJQOZot0CKkk7U/j9oWUUxFvPiyoidCxLs5UAAZD+Yzqxx01vg84Rx49fGmh7N1eMxadEWrD9WzJDYeovenDufhlKnJcBedizEGFfQDyooqveIR/pOsyjrHYPP3QrD04+F6iXvDJ/LdQb5BN+4fycMQ9hHv+PlekbCKlfsparRx+4LeGSi+LuTA0TB+EjcHNHeGDdYnKDETV3Y9lHPKMpgie7R03hqhlF98FE3C1ymXoSn2Dawu5WOEyE/PxgRWI+FgX1j/7sSL3aV0vqMvqMeYr/f7iYMeqqTtcGkjga2KOi3xRIBr9wRACVKT9kyFw0+OOy5w4cRzJOyWdShS88ojFTpIfgUmSiT7/ZOgCpBsB3PGTwpytv3ZceWEEwUvHXtxByf9+whSKpGQlyliKIPO4dHWfLBY3nPakA9+6YA="
sudo: false
language: node_js

node_js:
    - "stable"

# The pre-install script
before_install:
    - npm i -g greenkeeper-lockfile@1

# The install script
install:
    - yarn install

# The pre-build script
before_script:
    - greenkeeper-lockfile-update || true
    - yarn run lint

# The build script
script:
    - yarn run build

# The post-build script
after_script:
    - greenkeeper-lockfile-upload || true

# Disable email notifications
notifications:
    email: false

# WHO IN THE F# (the programming language) DOESN’T SUPPORT TABS IN 2017? '	' <- tab
# P.S.: F# (the programming language) also doesn’t support tabs, and that's terrible
